header {
    background-color: cornflowerblue;
    height: 120px;
    width: 100%;
    border: 2px solid black;
    /*top: 1px;*/
    /*position: fixed;*/
}

#title {
    color: blueviolet;
    /*font-weight: bold;*/
    margin-top: 55px;
    margin-left: 450px;
    /*position: relative;*/
}

/*#navbar {*/
/*    background-color: cyan;*/
/*}*/

#home {
    background-color: cyan;
    height: 45px;
    width: 120px;
    margin-top: -45px;
    margin-left: 100px;
    padding-left: 5px;
    border: 1px solid black;
    position: relative;
}

#about {
    background-color: cyan;
    height: 45px;
    width: 120px;
    margin-top: -46px;
    margin-left: 230px;
    padding-left: 5px;
    border: 1px solid black;
    position: relative;
}

main {

}

#characterselec {
    background-color: yellow;
    height: 150px;
    width: 250px;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 10px;
}

#cardresults {
    margin-left: 500px;
}

body {

}

